
body{
    background-color: yellow;
}

.container-fluid{
    background-color: rgb(241, 122, 75);
    font-weight: bold;
    height: 80px;
    font-size: larger;
}

.başlık{
    margin-left: 470px;
    
}
.harita{
    float:right;
}

  .navbar-brand{
    border-style: groove;
  }

  .breadcrumb{
    margin-left: 15px;
    font-weight: bold;
    font-size: large;
  }

  div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    margin-left: 30px;
    background-color: rgb(241, 122, 75);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 220px;
    height: 350px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  