
body{
    background-color: yellow;
}

.esaret{
    margin-top: 50px;
    margin-left: 70px;
}

.baba1{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;

}

.kara{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;
}

.baba2{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;
}

.kızgın{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;

}

.liste{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;
}

.yüzük1{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;
}

.ucuz{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 70px;
}

.yüzük2{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 345px;
}

.iyikötü{
    
    width: 300px;
    height: 350px;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 100px;
    
}

.container-fluid{
    background-color: rgb(214, 75, 241);
    font-weight: bold;
}

.başlık{
    margin-left: 470px;
}
.harita{
    margin: auto;
}


div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    margin-left: 30px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    
  }

  .navbar-brand{
    border-style: groove;
  }