
body{
    background-color: yellow;
}

.container-fluid{
    background-color: rgb(241, 122, 75);
    font-weight: bold;
    height: 80px;
    font-size: larger;
}

.başlık{
    margin-left: 550px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.navbar-brand{
    border-style: groove;
  }

.breadcrumb{
    margin-left: 15px;
    font-weight: bold;
    font-size: large;
  }

.carousel{
    width: 1000px;
    height: 750px;
    margin-left: 170px;
    margin-top: 50px;
}

